body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: Arial, Helvetica, sans-serif;
}


.title{
    text-align: center;
    border-radius: 4px;
    color: white;
    border-bottom: 5px solid darkred;
    background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}



#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1{
    color: #0f2027;
    text-align: center;
}

#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: darkred;
    border: none;
}

.profile-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 25%;
    padding: 10px;
}

.input-control {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control .error{
    color: #ff3860;
    font-weight: bold;
    height: 5px;
}